/* index.css  */
body {
  font-family: "CustomFont", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.bold-italic {
  font-weight: bold;
  font-style: italic;
}
.dashboard-title {
  font-size: 7vw; /* Default font size relative to viewport width */
}

@media (max-width: 768px) {
  .dashboard-title {
    font-size: 9vw; /* Adjusted for tablet screens */
  }
}

@media (max-width: 576px) {
  .dashboard-title {
    font-size: 11vw; /* Adjusted for mobile screens */
  }
}
